/*  Colors:
    Yellow: #FFBE00;
    Navy: #192b37;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------- temporary styles for structural html ---------*/

section {
    border: 2px solid rgb(240,240,240);
}


/*----Image styles ---*/
.bg-image {
    background-image: url(/images/the-sleep-co3.jpg);
    background-size: cover;
    min-height: 10rem;
}


/*-----Universal Styles & Utility classes----*/

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
   }


.padded     { padding: 5%;  }
.padded-sm  { padding: 1rem;}
.padded-lg  { padding: 10%; }

.padded-t { padding-top: 5%; }
.padded-t-1 { padding-top: 1rem; }
.padded-r-1 { padding-right: 1rem; }
.padded-b-0 { padding-bottom: 0; }

.margin-t-1 { margin-top: 1rem; }
.margin-t-2 { margin-top: 2rem; }
.margin-b-0 { margin-bottom: 0; }

.bg-dark { 
    background-color: #192b37;
    color: white;
}

.tall-70  { min-height: 70vh;  }
.tall-80  { min-height: 80vh;  }
.tall-90  { min-height: 90vh;  }
.tall-100 { min-height: 100vh; }


 /* [class*=col-] {
    padding: 0;
  }*/

/*--Typography Styles--*/

h2 {
    font-size: 2.4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
h3 { 
    line-height: 1.1;
 }

p {
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #FFBE00;
}

.featured-text { color: #FFBE00; }
.white-text    { color: white; }

.subtitle { 
    color: rgb(120,120,125);
    font-size: 1.2rem;
 }

 .quote-icon {
    color: rgb(120,120,125);
    font-size: 6rem;
    display: inline-block;
    line-height: 1;
 }

.small-text    { font-size: 1.6rem;}
.medium-text {
    font-size: 2rem;
    line-height: 1.1;
}
.big-text      { font-size: 4.5rem;}

.weight-light      { font-weight: 200; }
.weight-normal     { font-weight: normal; }
.weight-extra-bold { font-weight: 800; }

.text-left      { text-align: left;   }
.text-center    { text-align: center; }
.text-right     { text-align: right;  }

.uppercase {text-transform: uppercase;}

.red { color: red;}


/*--Header & Footer Styles--*/

header {
    background-image: url(/images/the-sleep-co4.jpg);
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 8.5vw;
    line-height: 1;
}

section a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    border: none;
}

footer a {
    border-bottom: none;
}

/*--Background Images--*/

.bg-image-bed {
    background-image: url(/images/the-sleep-co3.jpg);
}
.bg-image-pug {
    background-image: url(/images/the-sleep-co1.jpg);
    background-position: 50% 35%;
}
.bg-pillow {
    background-image: url(/images/the-sleep-co2.jpg);
    background-position: 50% 55%;
}
.bg-construction {
        background-image: url(/images/the-sleep-co-5.jpg);
        background-position: 50% 55%;
}
.bg-mattress {
    background-image: url(/images/the-sleep-co6.jpg);
    background-position: 50% 55%;
    border-radius: 5px;
}


/*--Icon Styles--*/

.icon {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

/*-- Card Styles --*/

.card {
    background-color: #192b37;
    padding: 0;
    background-color: #192b37;
    border: 0.5rem solid ;
    border-radius: 10px;
  }

.post-info {
    padding: 1rem;
    text-align: center;
  }

.card a {
    color:white;
}

.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }

.button {
    background-color: #FFBE00;
    color: #white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #FFBE00;
    border-radius: 3rem;
    /*top +bottom then left + right*/
    padding: 0.4rem 2.8rem;
    display: inline-block;
  }

/*-- Contact Form Styles --*/
  form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}
form label {
    margin-top: 1rem;
    display: block;
    font-weight: bold;
  }
  form button {
    background-color:#192b37;
    color:white;
    border: 2px solid #192b37;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.1em;
    margin: 0.5rem 0;
  }