/*  Colors:
    Yellow: #FFBE00;
    Navy: #192b37;
    Font-family: 
*/

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* Optional padding to override default gridlex columns
  [class*=col-] {
    padding: 0;
  }*/

/*-------- temporary styles for structural html ---------*/

/* section {
    border: 2px solid rgb(240,240,240);
} */


/*-----------------------Universal Styles & Utility classes--------------------------*/

/*-- Padding Utility Classes --------*/
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/*-- Margin Utility Classes -----------*/ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/*--Minimum height ---------------------------------*/
.tall-50  { min-height: 50vh;  }
.tall-70  { min-height: 70vh;  }
.tall-80  { min-height: 80vh;  }
.tall-90  { min-height: 90vh;  }
.tall-100 { min-height: 100vh; }


/*--Background & Images -----------------------------------*/

.bg-dark { 
    background-color: #192b37;
    color: white;
}
.bg-featured    { background-color: #F4B525; }
.bg-lightblue   { background-color: #E3ECF2; }

/*--Image styles --*/
.bg-image {
    background-image: url(/images/the-sleep-co3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 10rem;
}

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

.landscape { padding-bottom: 65%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }


/*-- Background Position --*/
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/*--Typography Styles--*/

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
    line-height: 1.1
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

p {
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #FFBE00;
}

.weight-light      { font-weight: 200; }
.weight-normal     { font-weight: normal; }
.weight-extra-bold { font-weight: 800; }

.text-left         { text-align: left;   }
.text-center       { text-align: center; }
.text-right        { text-align: right;  }

.featured-text { color: #FFBE00; }
.white-text    { color: white; }

.small-text    { font-size: 1.6rem;}
.medium-text   { font-size: 2rem;  }
.big-text      { font-size: 4.5rem;}

.subtitle { 
    font-size: 1.2rem;
    color: rgb(120,120,125);
 }

.red { color: red;}


/*--Icon Styles------------------*/

.icon {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

/*--Header & Footer Styles-----------------------------------*/

header {
    background-image: url(/images/the-sleep-co4.jpg);
    background-size: cover;
    background-position: center;
    padding: 5%;
}

header h3 {
    font-size: 8.5vw;
    line-height: 1;
}

section a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    border: none;
}

.logo {
    text-transform: uppercase;
    padding-left: 1rem;
}

footer a {
    border-bottom: none;
}

/*--Background Images---------------------------------------------*/

.bg-image-bed {
    background-image: url(/images/the-sleep-co3.jpg);
}
.bg-image-pug {
    background-image: url(/images/the-sleep-co1.jpg);
    background-position: 50% 35%;
}
.bg-pillow {
    background-image: url(/images/the-sleep-co2.jpg);
    background-position: 50% 55%;
}
.bg-construction {
        background-image: url(/images/the-sleep-co-5.jpg);
        background-position: 50% 55%;
}
.bg-mattress {
    background-image: url(/images/the-sleep-co6.jpg);
    background-position: 50% 55%;
    border-radius: 5px;
}


/*-- Card Styles ------------------------------------------*/

.card {
    background-color: #192b37;
    padding: 0;
    background-color: #192b37;
    border: 0.5rem solid ;
    border-radius: 10px;
  }

.post-info {
    padding: 1rem;
    text-align: center;
  }

.card a {
    color:white;
}

.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }

.button-2 {
    background-color: #FFBE00;
    color: #white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #FFBE00;
    border-radius: 3rem;
    /*top +bottom then left + right*/
    padding: 0.4rem 2.8rem;
    display: inline-block;
  }

/*-- Contact Form & Button Styles -----------------------------*/
form input, 
form textarea {
  width: 100%;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  display: block;
  border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #FFBE00;
    outline: none;
}

form button {
    background-color:#FFBE00;
    color: inherit;
    padding: 0.5rem 2rem;
    appearance: none;
    border: 2px solid #192b37;
    border-radius: 3rem;
    letter-spacing: 0.1em;
  }

  /*-- Testimonial Block -------------------*/
  .quote-icon {
    color: rgb(120,120,125);
    font-size: 6rem;
    display: inline-block;
    line-height: 1;
 }